*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 14px;
    border-radius: 5px;
    padding: 100px 100px 50px 100px;
    position: relative;
    background-image: url(image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.form-grp{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white
}
input[type=text], input[type=password] {
    width: calc(100%-36px);
    outline: none;
    padding: 16px;
    font-size: 16px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    color: white;
    font-size: 16px;
}
label input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: rgb(249, 74, 74) ;
}
button{
    cursor: pointer;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 16px;
    display: block;
    background-color:rgb(249, 74, 74) ;
    border: none;
    border-radius: 10px;
    color: white;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: white;
    font-size: 16px;
}